.wrapper {
    padding-top: 50px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    background-color: cornflowerblue;
    color: #ffe100;
  }