.search-bar{
    margin: 20px;
    text-align: center;
  }
  
  .search-bar input{
    width: 75%;
  }
  
  .video-item img{
    max-width: 64px;
  }
  
  .video-detail .details{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .list-group-item{
    cursor: pointer;
  }
  
  .list-group-item:hover{
    background-color: #eee;
  }
  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }