html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  
  .container {
    display: grid;
    padding: 50px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  /* .headContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */
  
  .cat {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    /* outline: 1px solid red; */
  }
  
  .tally {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: end;
    /* outline: 1px solid green */
  }
  
  .rTally {
    padding-right: 15px;
  }
  
  .question {
    padding: 20px 0 0 0;
    text-align: center;
  }
  
  .list {
    margin: 20px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(80px, auto));
    grid-gap: 10px;
    background-color: #fff; */
  }
  .answerCard {
    width: 400px;
    padding: 20px 0;
    align-self: center;
    justify-self: center;
    text-align: center;
    outline: 1px solid red;
  }